.footer-container {
    display: flex;
    /* background-color: black; */
    justify-content: auto;
    color: whitesmoke;
    margin: auto;
    text-align: center;
}
.footer-items {
    align-self: center;
    margin: auto;
    padding: 5px;
}

