
.navbar-container {
    display: flex;
    padding: 30px;
  }
  /* .link {
    color: white;
  } */

  @media screen and (max-width:768px) {
    .navbar-container {
      flex-direction: column;
      margin: auto;
      position: relative;
    }
  }

  @media screen and (max-width:425px) {
    .navbar-container {
      flex-direction: column;
      margin: auto;
      padding: 10px;
      position: relative;
    }
  }

  @media screen and (max-width:320px) {
    .navbar-container {
      flex-direction: column;
      margin: auto;
      padding: 10px;
      position: relative;
    }
  }


:root {
    --mainColor:#534334;;
  }

.nav-menu {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-right: 85px;
}

/* @media screen and (max-width:1440px) {
  .nav-menu {
    /* margin: auto; */
  /* } */
/* } */ 

/* @media screen and (max-width:1024px) {
  .nav-menu {
    /* margin: auto; */
  /* } */
/* }  */


.home-link {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 2px;
    color: #F0F0F0;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  .home-link:hover {
    background-size: 4px 50px;
    color: white;
    cursor: pointer;
  }

  .resume-link {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 2px;
    color: #F0F0F0;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  .resume-link:hover {
    background-size: 4px 50px;
    color: white;
    cursor: pointer;
  }

  .projects-link {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 2px;
    color: #F0F0F0;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  .projects-link:hover {
    background-size: 4px 50px;
    color: white;
    cursor: pointer;
  }

  .contact-link {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 2px;
    color: #F0F0F0;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  .contact-link:hover {
    background-size: 4px 50px;
    color: white;
    cursor: pointer;
  }
@media screen and (max-width:320px) {
    .nav-menu {
        display: grid;
        font-size: 12px;
        grid-template-columns: repeat(4, auto);
        grid-gap: 25px;
        list-style: none;
        justify-content: center;
        cursor: pointer;
        margin:auto;
        padding: 0%;
    }
}

@media screen and (max-width:375px) {
    .nav-menu {
        display: grid;
        font-size: 12px;
        grid-template-columns: repeat(4, auto);
        grid-gap: 25px;
        list-style: none;
        justify-content: center;
        cursor: pointer;
        margin:auto;
        padding: 0%;
    }
}

@media screen and (max-width:425px) {
    .nav-menu {
        display: grid;
        font-size: 12px;
        grid-template-columns: repeat(4, auto);
        grid-gap: 25px;
        list-style: none;
        justify-content: center;
        cursor: pointer;
        margin:auto;
        padding: 0%;
    }
}

@media screen and (max-width:768px) {
    .nav-menu {
        display: grid;
        font-size: 16px;
        grid-template-columns: repeat(4, auto);
        grid-gap: 25px;
        list-style: none;
        justify-content: center;
        cursor: pointer;
        margin:auto;
        padding: 10px;
    }
}